<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="./public.css">
  <link rel="stylesheet" href="./style.css">
  <title>Lap Times Leaderboard</title>
</head>
<body>
  <div class="nav">
    <a href="./" class="home">Home</a>
    <a href="./results/">Results</a>
    <a href="./about.html" class="about">About</a>
  </div>
  <h1 class="h1"><%= serverName %> ACC Server Lap Leaderboard</h1>
  <br>
  <% data.forEach(trackData => { %>
    <h2>Track: <%= trackData.track.toUpperCase() %></h2>
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player Name</th>
          <th>Car</th>
          <th>Best Lap Time</th>
          <th>s1</th>
          <th>s2</th>
          <th>s3</th>
          <th>laps</th>
          <th>Session Type</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% trackData.personalBestLap.forEach((lap, index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= lap.playerFullName %></td>
            <td><%= lap.carName %></td>
            <td><%= lap.lapTimeString %></td>
            <td><%= lap.splitsString[0] %></td>
            <td><%= lap.splitsString[1] %></td>
            <td><%= lap.splitsString[2] %></td>
            <td><%= lap.lapCount %></td>
            <td><%= lap.sessionType %></td>
            <td><%= lap.dateTime %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% }) %>
</body>
</html>
 