<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="./public.css">
  <link rel="stylesheet" href="./style.css">
  <title>Lap Times Leaderboard</title>
</head>
<body>
  <div class="nav">
    <a href="./" class="home">Home</a>
    <a href="./results/">Results</a>
    <a href="./about.html" class="about">About</a>
  </div>
  
  <h1 class="h1"><a href="./"><%= serverName %>ACC Server Lap Leaderboard</a></h1>
  <div class="filter-container">
    <label for="trackSelect">Select Track: </label>
    <select id="trackSelect">
      <option value="all">All</option>
      <% data.forEach(trackData => { %>
        <option value="<%= trackData.track %>"><%= trackData.track.toUpperCase() %></option>
      <% }) %>
    </select>
    <label for="startDateFilter">Start date: </label>
    <select id="startDateFilter" onchange="filterSessions()">
      <!-- Start dates will be dynamically populated -->
    </select>
    <label for="endDateFilter">End date: </label>
    <select id="endDateFilter" onchange="filterSessions()">
      <!-- End dates will be dynamically populated -->
    </select>
    <span>filesLimit: <%= filesLimit %></span>
  </div>
  <br>
  
  <% data.forEach(trackData => { %>
    <div class="trackData" data-track="<%= trackData.track %>">
      <h2>Track: <%= trackData.track.toUpperCase() %></h2>
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Driver</th>
            <th>Car</th>
            <th>Best Lap Time</th>
            <th>s1</th>
            <th>s2</th>
            <th>s3</th>
            <th>laps</th>
            <th>Session Type</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% trackData.personalBestLap.forEach((lap, index) => { %>
            <tr>
              <td class="rankcenter">
                <% if (index > 2) { %>
                  <%= index + 1 %>
                <% } %>
                <% if (index == 0) { %>
                  <img class="rankimg" src="./images/r1.png" alt="">
                <% } %>
                <% if (index == 1) { %>
                  <img class="rankimg" src="./images/r2.png" alt="">
                <% } %>
                <% if (index == 2) { %>
                  <img class="rankimg" src="./images/r3.png" alt="">
                <% } %>
              </td>
              <td><%= lap.playerFullName %><span style="display: none;"><%= lap.playerId %></span></td>
              <td><%= lap.carName %></td>
              <td <% if (index == 0) { %>class="best"<% } %> ><%= lap.lapTimeString %></td>
              <td <% if (lap.s1Best == true) { %>class="best"<% } %> ><%= lap.splitsString[0] %></td>
              <td <% if (lap.s2Best == true) { %>class="best"<% } %>><%= lap.splitsString[1] %></td>
              <td <% if (lap.s3Best == true) { %>class="best"<% } %>><%= lap.splitsString[2] %></td>
              <td><%= lap.lapCount %></td>
              <td><%= lap.sessionType %></td>
              <td><%= lap.dateTime %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  <% }) %>

  <script>
    var dateList = <%- JSON.stringify(dateList) %>;
  </script>

  <script>
    document.getElementById('trackSelect').addEventListener('change', function() {
      var selectedTrack = this.value;
      var trackDataDivs = document.querySelectorAll('.trackData');
      
      trackDataDivs.forEach(function(div) {
        if (selectedTrack === 'all' || div.getAttribute('data-track') === selectedTrack) {
          div.style.display = '';
        } else {
          div.style.display = 'none';
        }
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
      populateSelect(document.getElementById('startDateFilter'), dateList);
      populateSelect(document.getElementById('endDateFilter'), dateList);
    });

    function populateSelect(selectElement, valuesSet) {
      // Clear the existing options
      selectElement.innerHTML = '';

      // Add an "All" option at the beginning
      const allOption = document.createElement("option");
      allOption.value = "all";
      allOption.textContent = "Select Date";
      selectElement.appendChild(allOption);

      // Add options from the set
      valuesSet.forEach(value => {
        const option = document.createElement("option");
        option.value = value.year + '-' + value.month + '-' + value.day;
        option.textContent = value.year + '-' + value.month + '-' + value.day;
        selectElement.appendChild(option);
      });
      // Set the default value to the last date
      // 判断url query当中的startDate 和 endDate
      const urlParams = new URLSearchParams(window.location.search);
      const startDate = urlParams.get('startDate');
      const endDate = urlParams.get('endDate');
      if (startDate && endDate) {
        document.getElementById('startDateFilter').value = startDate;
        document.getElementById('endDateFilter').value = endDate;
      } else {
        selectElement.value = 'all';
      }
    }
    const filterSessions = () => {
      const startDate = document.getElementById('startDateFilter').value;
      const endDate = document.getElementById('endDateFilter').value;
      console.log(startDate, typeof startDate, endDate);
      window.location.href = `./?startDate=${startDate}&endDate=${endDate}`;
    };
  </script>
</body>
</html>
