<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../public.css" />
    <link rel="stylesheet" href="./../result.css" />
    <title>Session Data</title>
    <style>
      h1 {
        text-align: center;
        color: #333;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
      }
      table,
      th,
      td {
        border: 1px solid #ddd;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .filter-container {
        text-align: center;
        margin-bottom: 20px;
      }
      .filter-container select {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <a href="/" class="home">Home</a>
        <a href="/results/">Results</a>
        <a href="/about.html" class="about">About</a>
      </div>
      <h1>ACC Server Session Data</h1>
      <div class="filter-container">
        <label for="sessionTypeFilter">Filter by session type: </label>
        <select id="sessionTypeFilter" onchange="filterSessions()">
          <option value="all">All</option>
          <option value="Q">Q</option>
          <option value="R">R</option>
          <option value="FP">FP</option>
        </select>
        &nbsp;&nbsp;
        <label for="trackNameFilter">Filter by track name: </label>
        <select id="trackNameFilter" onchange="filterSessions()">
          <!-- Track names will be dynamically populated -->
        </select>
      </div>
      <div id="sessionsContainer">
        <% data.forEach(session => { %>
        <div
          class="resultItem"
          data-session-type="<%= session.sessionType %>"
          data-track-name="<%= session.trackName %>"
        >
          <p class="date">Date: <%= session.dateTime %></p>
          <h2>
            Track: <b><%= session.trackName.toUpperCase() %></b> - Session: <%=
            session.sessionType %>
          </h2>
          <table>
            <thead>
              <tr>
                <th>Rank</th>
                <th>First Name</th>
                <th>Last Name</th>
                <% if (session.sessionType === 'R') { %>
                <th>Total Time</th>
                <th>Gap Time</th>
                <th>Total Laps</th>
                <% } %>
                <th>Best Lap</th>
              </tr>
            </thead>
            <tbody>
              <% session.currentDriver.forEach(driver => { %>
              <tr>
                <td><%= driver.rank %></td>
                <td><%= driver.firstName %></td>
                <td><%= driver.lastName %></td>
                <% if (session.sessionType === 'R') { %>
                <td><%= driver.totalTime %></td>
                <td><%= driver.gapTime %></td>
                <td><%= driver.laps %></td>
                <% } %>
                <td><%= driver.bestLap %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <% }) %>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        populateTrackNames();
        document.getElementById("sessionTypeFilter").value = 'R';
        filterSessions();
      });

      function populateTrackNames() {
        const trackNames = new Set();
        const sessions = document.querySelectorAll(".resultItem");

        sessions.forEach((session) => {
          trackNames.add(session.getAttribute("data-track-name"));
        });

        const trackNameFilter = document.getElementById("trackNameFilter");
        // Add an "All" option at the beginning
        const allOption = document.createElement("option");
        allOption.value = "all";
        allOption.textContent = "All";
        trackNameFilter.insertBefore(allOption, trackNameFilter.firstChild);
        trackNames.forEach((trackName) => {
          const option = document.createElement("option");
          option.value = trackName;
          option.textContent = trackName;
          trackNameFilter.appendChild(option);
        });
      }

      function filterSessions() {
        const sessionTypeFilter =
          document.getElementById("sessionTypeFilter").value;
        const trackNameFilter =
          document.getElementById("trackNameFilter").value;
        const sessions = document.querySelectorAll(".resultItem");

        sessions.forEach((session) => {
          const sessionType = session.getAttribute("data-session-type");
          const trackName = session.getAttribute("data-track-name");
          if (
            (sessionTypeFilter === "all" ||
              sessionType === sessionTypeFilter) &&
            (trackNameFilter === "all" || trackName === trackNameFilter)
          ) {
            session.style.display = "";
          } else {
            session.style.display = "none";
          }
        });
      }
    </script>
  </body>
</html>
